<h4>Bad Packages</h4>
<h5>Requirements</h5>
<p>The tool will check that any packages with known incompatibilities to Node-RED core are not used in the dependency tree.</p>
<h5>Reason</h5>
<p>As of Oct 2021 there has only been one package that caused an issue, (agent-base &lt;6.0.0). However this facility allows us to expand this list should the need arise in the future.</p>
<h5>Reference</h5>
<p><a href="https://github.com/node-red/node-red-dev-cli/blob/main/src/badpackages.json">https://github.com/node-red/node-red-dev-cli/blob/main/src/badpackages.json</a></p>

