{{^hideOptions}}
<div class="thing-list">
    <form>
    <div class="col-2-12 ">
        <div class="filter-options">
{{/hideOptions}}
{{#hideOptions}}
<div class="thing-list col-1-1">
    <form>
    <div class="filter-options" style="display: none">
        <input type="hidden" name="sort" value="{{sort}}">
{{/hideOptions}}
        <input type="hidden" name="ignoreQueryParams" value="{{ignoreQueryParams}}">
        <input type="hidden" name="seedType" value="{{type}}">
        <input type="hidden" name="seedSort" value="{{sort}}">
        <input type="hidden" name="collection" value="{{collection}}">
        <input type="hidden" name="category" value="{{category}}">
        <input type="hidden" name="username" value="{{username}}">
        <input type="hidden" name="npm_username" value="{{npm_username}}">
        <input type="hidden" name="term" value="">
        <input type="hidden" name="page" value="">
        <input type="hidden" name="per_page" value="{{per_page}}">
          
        <span class="filter-options-section">
            <div>Filter</div>
            <ul class="filter-options-filter">
                {{^hideTypeFilter}}
                <li><input name="type" value="node" type="checkbox" id="thing-list-{{id}}-type-node"/><label class="gistbox-filter-label" for="thing-list-{{id}}-type-node">Nodes</label></li>
                <li><input name="type" value="flow" type="checkbox" id="thing-list-{{id}}-type-flow"/><label class="gistbox-filter-label" for="thing-list-{{id}}-type-flow">Flows</label></li>
                <li><input name="type" value="collection" type="checkbox" id="thing-list-{{id}}-type-collection"/><label class="gistbox-filter-label" for="thing-list-{{id}}-type-collection">Collections</label></li>
                {{/hideTypeFilter}}
            </ul>
        </span>
        <span class="filter-options-section" {{^isAdmin}}style="display: none;"{{/isAdmin}}>
            <div>Category</div>
            <ul class="filter-options-category">
                {{#categories}}
                <li><input name="category" value="{{_id}}" type="checkbox" id="thing-list-{{id}}-category-{{_id}}"/><label class="gistbox-filter-label" for="thing-list-{{id}}-category-{{_id}}">{{name}}</label></li>
                {{/categories}}
            </ul>
        </span>
    </div>
{{^hideOptions}}
</div>
<div class="col-10-12 ">
    <div class="filter-options-sort">
        Sort by: 
        <select name="sort" id="thing-list-{{id}}-sort">
            <option value="recent">Recently Updated</option>
            <option value="downloads">Downloads</option>
            <option value="rating">Rating</option>
        </select>
    </div>
{{/hideOptions}}
    <div>
        <ul class="gistlist" style=" clear: both;">
            {{>_gistitems}}
        </ul>
        {{^hideNav}}
        <div class="thing-list-nav">
            <a href="#" class="thing-list-nav-link thing-list-nav-prev"><i class="icon-caret-left"></i> Prev</a>
            <span class="thing-list-nav-page-info"></span>
            <a href="#" class="thing-list-nav-link thing-list-nav-next">Next <i class="icon-caret-right"></i></a>
        </div>
        {{/hideNav}}
        <!-- <div style="text-align:center;">
        <a href="#" class="btn btn-load-more">Load More...</a>
    </div> -->
    </div>
</form>
</div>
{{^hideOptions}}
</form>
</div>
{{/hideOptions}}
