<li class="gistbox gistbox-flow" data-thing-id="{{_id}}"><a href="/flow/{{_id}}{{#collection}}/in/{{.}}{{/collection}}">
    <h1 class="gisttitle">{{description}}</h1>
    <p class="gistdescription">by {{gitOwners.0}}</p>
    <div class="gistbox-footer">
        <div class="gistbox-type">
            {{#rating}}<i class="fa fa-star"></i> <span class="gistbox-score">{{#toFixed}}{{score}}{{/toFixed}}</span> ({{count}} <i class="fa fa-user"></i>){{/rating}}
        </div>
        <div class="gistbox-owner">{{type}}</div>
    </div>
</a>
{{>_gistboxTools}}
</li>
