<div class="thing-list col-1-1 ">
    <div class="filter-options"{{#hideOptions}} style="display: none"{{/hideOptions}}>
        <input type="hidden" name="ignoreQueryParams" value="{{ignoreQueryParams}}">
        <input type="hidden" name="seedType" value="{{type}}">
        <input type="hidden" name="seedSort" value="{{type}}">
        <form>
            <input type="hidden" name="username" value="{{username}}">
            <input type="hidden" name="term" value="">
            <input type="hidden" name="page" value="">
            <input type="hidden" name="per_page" value="{{per_page}}">
            <ul class="filter-options-filter">
                <li><input name="type" value="node" type="checkbox" id="thing-list-{{id}}-type-node"/><label class="gistbox-filter-label" for="thing-list-{{id}}-type-node">nodes</label></li>
                <li><input name="type" value="flow" type="checkbox" id="thing-list-{{id}}-type-flow"/><label class="gistbox-filter-label" for="thing-list-{{id}}-type-flow">flows</label></li>
            </ul>
            <span class="filter-sort">
                <ul class="filter-options-filter">
                    <li><input type="radio" name="sort" value="recent" id="thing-list-{{id}}-sort-recent"> <label class="gistbox-sort-label" for="thing-list-{{id}}-sort-recent">recent</label></li>
                    <li><input type="radio" name="sort" value="downloads" id="thing-list-{{id}}-sort-downloads"> <label class="gistbox-sort-label" for="thing-list-{{id}}-sort-downloads">downloads</label></li>
                    <li><input type="radio" name="sort" value="rating" id="thing-list-{{id}}-sort-rating"> <label class="gistbox-sort-label" for="thing-list-{{id}}-sort-rating">rating</label></li>
                </ul>
            </span>
        </form>
    </div>
    <div>
        <ul class="gistlist" style=" clear: both;">
            {{>_gistitems}}
        </ul>
        {{^hideOptions}}
        <div class="thing-list-nav">
            <a href="#" class="thing-list-nav-link thing-list-nav-prev"><i class="fa fa-caret-left"></i> Prev</a>
            <span class="thing-list-nav-page-info"></span>
            <a href="#" class="thing-list-nav-link thing-list-nav-next">Next <i class="fa fa-caret-right"></i></a>
        </div>
        {{/hideOptions}}
        <!-- <div style="text-align:center;">
        <a href="#" class="btn btn-load-more">Load More...</a>
    </div> -->
    </div>
</div>
