<h4>Examples</h4>
<h5>Requirements</h5>
<p>The package SHOULD include example flows that demonstrate each node.
The tool will check the examples folder (and any nested folders) for json flow files. It will then iterate over these files and look at the nodes used in the flows to ensure that <b>all</b> nodes declared in the package are used in an example at least once. Config nodes are excluded from the check.</p>
<h5>Reason</h5>
<p>Examples are an excellent way for users to understand how to use a node.</p>
<h5>Reference</h5>
<p><a href="https://nodered.org/docs/creating-nodes/examples">https://nodered.org/docs/creating-nodes/examples</a></p>

