<li class="gistbox gistbox-{{type}}" data-tags="{{keywords}}" data-owner="{{author.name}}"><a href="/node/{{name}}">
<h1 class="gisttitle">{{name}}</h1>
<p class="gistdescription">{{description}}</p>
<div class="gistbox-footer">
{{#official}}<div class="gistbox-type"><img alt="maintained by the Node-RED project" title="maintained by the Node-RED project" src="/node-red-white.png" class="gistbox-official" /></div>{{/official}}
    <div class="gistbox-owner">{{type}}</div>
    <!--<div class="gistbox-owner">v{{ dist-tags.latest }}</div>-->
</div>
</a></li>
