<li class="gistbox gistbox-node"  data-thing-id="{{_id}}"><a href="/node/{{name}}{{#collection}}/in/{{.}}{{/collection}}">
    <h1 class="gisttitle">{{name}}</h1>
    <p class="gistdescription">{{description}}</p>
    <div class="gistbox-footer">
        <div class="gistbox-type">
            {{#dist-tags.latest}} v{{.}} &nbsp;{{/dist-tags.latest}}
            {{#downloads}} <i class="fa fa-cloud-download"></i> {{week}} &nbsp;{{/downloads}}
            {{#rating}}<i class="fa fa-star"></i><span class="gistbox-score">{{#toFixed}}{{score}}{{/toFixed}}</span> ({{count}} <i class="fa fa-user"></i>){{/rating}}
        </div>
        <div class="gistbox-owner">{{type}}</div>
    </div>
</a>
{{>_gistboxTools}}
</li>
