<h4 id="license">License</h4>
<h5 id="requirement">Requirement</h5>
<p>The package.json MUST contain a key of <code>license</code> that specifies the type of license used, this can be either an open source license or your own proprietary license. The value should be either a recognised <a href="https://spdx.org/licenses/">SPDX ID</a> or refer to a filename within the package for a custom license.</p>
<h5 id="reason">Reason</h5>
<p>The package must specify a license so that users can have confidence  they are permitted to use it and understand any restrictions on its use.</p>
<h5 id="reference">Reference</h5>
<p><a href="https://docs.npmjs.com/cli/v7/configuring-npm/package-json#license">https://docs.npmjs.com/cli/v7/configuring-npm/package-json#license</a></p>
