<h4>Package.json must contain a Repository or Bugs URL or Email</h4>
<h5>Requirement</h5>
<p>The package.json file MUST contain either a repository object or a bugs object.
If <code>bugs</code> is specified then either a URL or an email address can by supplied.</p>
<h5>Reason</h5>
<p>This is so that users can report bugs and request support when using the package.</p>
<h5>Reference</h5>
<p><a href="https://docs.npmjs.com/cli/v7/configuring-npm/package-json#bugs">https://docs.npmjs.com/cli/v7/configuring-npm/package-json#bugs</a></p>

