<h4>Node-RED Keyword</h4>
<h5>Requirements</h5>
<p>The package.json must contain the keyword <code>node-red</code> eg</p>
<pre><code>    &quot;keywords&quot;: [ &quot;node-red&quot; ],
</code></pre>
<h5>Reason</h5>
<p>This identifies the package as Node-RED modules rather than a more generic node package.</p>
<p>Without this keyword set, it will not be listed on the Flow Library.</p>
<h5>Reference</h5>
<p><a href="https://nodered.org/docs/creating-nodes/packaging#packagejson">https://nodered.org/docs/creating-nodes/packaging#packagejson</a></p>

