<h4>Node-RED Keyword</h4>
<h5>Requirements</h5>
<p>The package.json must contain the keyword <code>node-red</code> eg</p>
<pre><code>    &quot;keywords&quot;: [ &quot;node-red&quot; ],</code></pre>
<h5>Reason</h5>
<p>This identifies the package as a Node-RED module rather than a more generic node package.</p>
<p>Without this keyword set, it will not be listed on the Flow Library, but it will still be npm installable.
<br>
If the module is not yet ready for wider use by the Node-RED community, you should not include the keyword.
</p>
<h5>Reference</h5>
<p><a href="https://nodered.org/docs/creating-nodes/packaging#packagejson">https://nodered.org/docs/creating-nodes/packaging#packagejson</a></p>

