<h4>Min node-red version</h4>
<h5>Requirements</h5>
<p>Within the <code>node-red</code> section of the package.json file the developer SHOULD indicate the minimum supported version. This must satisfy at least one of the current <code>latest</code> or <code>maintenance</code> tagged releases.</p>
<p>eg</p>
<pre><code>&quot;node-red&quot;  : {
    &quot;version&quot;: &quot;&gt;=2.0.0&quot;,
}
</code></pre>
<h5>Reason</h5>
<p>This is so that users can identify nodes that rely on new features in latest versions of node-red.</p>
<h5>Reference</h5>
<p><a href="https://nodered.org/docs/creating-nodes/packaging#packagejson">https://nodered.org/docs/creating-nodes/packaging#packagejson</a></p>

