<h4>Similar Names</h4>
<h5>Requirements</h5>
<p>The package should use a unique name.
The tool will check for packages of the same name with a different scope and these may be highlighted to the user.</p>
<h5>Reason</h5>
<p>Pacakges should use unique names, where a package is abandoned and another developer updates it and publishes a fork under their own scope this will help users to identify that they are similar pacakges, the README should me clear where a package is a fork and what the changes are.</p>
<h5>Reference</h5>

