<li style="margin-bottom: 5px;">
    <div class="palette_node palette_node_{{category}}" style="background-color:{{color}};">
    {{#iconUrl}}<div class="palette_icon palette_icon_{{#rightIconAlignment}}right{{/rightIconAlignment}}{{^rightIconAlignment}}left{{/rightIconAlignment}}" style="background-image: url({{iconUrl}})"></div>{{/iconUrl}}
    <div class="palette_label {{#iconUrl}}palette_label-icon_{{#rightIconAlignment}}right{{/rightIconAlignment}}{{^rightIconAlignment}}left{{/rightIconAlignment}}{{/iconUrl}}">{{name}}</div>
    {{#hasOutputs}}<div class="palette_port palette_port_output"></div>{{/hasOutputs}}
    {{#hasInputs}}<div class="palette_port palette_port_input"></div>{{/hasInputs}}
    </div>
</li>
