<script src="/js/jquery.raty-fa.js"></script>
<script>
    $.fn.raty.defaults.hints = ['bad', 'poor', 'regular', 'good', 'awesome'];
    $.fn.raty.defaults.space = false;
    $.fn.raty.defaults.space = false;
    $.fn.raty.defaults.starHalf = "icon-star-half";
    $.fn.raty.defaults.starOff = "icon-star-empty";
    $.fn.raty.defaults.starOn = "icon-star";
    $.fn.raty.defaults.cancelOff = "icon-trash";
    $.fn.raty.defaults.cancelOn = "icon-trash";

    function rate(e) {
        $("input[name=rating]").val(e);
        $("#form-rate").submit();
    };

    if (cookieconsent.allowedCategory('functionality')) { 
        $("#set-stars").raty({
        {{#rating}}{{#userRating}}score: {{.}},{{/userRating}}{{/rating}}
        cancel: true,
        click: utils.debounce(rate, 1000)});
    }  else {
        $("#form-rate" ).hide()
    }
    
</script>