<form id="search-form" method="get" action="/search">
<div class="toolbar">
  <div class="grid">
    <div class="col-1-1">
        <div style="position: relative">
            <div class="gist-filter">
                <input id="filter-term" name="term" class="gist-filter-input" type="text" value="{{query.term}}" placeholder="Search library"/>
                <span class="filter-term-spinner"></span>
            </div>
        <span class="buttons">
            <!-- <a class="add-button" href="/add">Add to library</a> -->
        {{^sessionuser}}<a class="signin" href="/login">Sign in with <b>GitHub</b></a>
        <script>$(function() { $(".signin").attr('href','/login?return='+window.location.pathname);});</script>
        {{/sessionuser}}
        {{#sessionuser}}<a class="user" href="/user/{{sessionuser.login}}"><img src="{{avatar_url}}"/></a>
        <ul class="user-menu">
            <li><a href="/user/{{sessionuser.login}}">{{sessionuser.login}}</a></li>
            <li><hr></li>
            <li><a href="/add/flow">Add Flow</a></li>
            <li><hr></li>
            <li><a href="/settings">Settings</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
        <script>$(function() {
            $(document).on("mousedown.close-usermenu", function(evt) { $(".user-menu").hide(); });
            $(".user-menu").on("mousedown", function(evt) { evt.stopPropagation(); })
            $("a.user").on("mousedown", function(evt) { evt.stopPropagation(); })
            $("a.user").on("click", function(evt) { evt.preventDefault(); $(".user-menu").toggle(); })
        })</script>
        {{/sessionuser}}
        </span>
        </div>
    </div>
  </div>
</div>
</form>
