{{>_header}}
  <div class="grid add-form" style="background: none; position:relative">
   <div class="col-1-12">&nbsp;</div>
   <div class="col-10-12 thing-list-section" style="background: white; padding: 10px 50px;">
       <h2 class="pagetitle">{{#collection}}Edit your collection{{/collection}}{{^collection}}Add a collection{{/collection}}</h2>

       <h4 class="add-flow-label"><label for="add-flow-title">Title</label></h4>
       <p>Give your collection a short, descriptive title.</p>
       <input id="add-flow-title" type="text" value="{{ collection.name }}"></input>
       <div style="position:relative"><div class="add-collection-title-warning dialog-warning">The title must be at least 10 characters long</div></div>
       <h4 class="add-flow-label"><label for="add-flow-desc">Description</label></h4>
       <p>Describe what your collection contains.</p>
       <p>This uses <a href="http://github.github.com/github-flavored-markdown/">GitHub Flavoured Markdown</a>
       for formatting. Use the <i>preview</i> tab to see how it looks.</p>
       <div class="add-collection-description-warning dialog-warning">The description must be at least 30 characters long</div>
       <div style="padding-top: 10px;border: 1px solid #fff; position: relative;">
           <textarea id="add-flow-desc">{{ collection.description }}</textarea>
           <div id="add-flow-desc-md"></div>
           <div class="add-flow-desc-buttons"><a href="#" class="active" id="add-flow-desc-edit">edit</a><a href="#" class="inactive" id="add-flow-desc-preview">preview</a></div>
       </div>

       <h4>&nbsp;</h4>
        <a id="add-flow-create" href="#" class="btn-create"><span id="add-flow-label">{{^collection}}create{{/collection}}{{#collection}}update{{/collection}} collection</span><img id="add-flow-loader" class="loader" src="/images/loader.gif" /></a>
        {{#collection}}<a href="/collection/{{ collection._id }}" class="user-profile-action" >cancel</a>{{/collection}}
   </div>
</div>
<script src="/js/marked.js"></script>
<script src="/js/tags.js"></script>
<script>

$(function() {
    var titleValid = false;
    var descValid = false;
    $("#add-flow-title").keyup(function(e) {
        var val = $(this).val().trim();
        if (val.length < 10) {
            titleValid = false;
            $(".add-collection-title-warning").show();
            $(this).addClass("input-error");
        } else {
            titleValid = true;
            $(".add-collection-title-warning").hide();
            $(this).removeClass("input-error");
        }
    });
    $("#add-flow-desc").keyup(function(e) {
        var val = $(this).val().trim();
        if (val.length < 30) {
            descValid = false;
            $(".add-collection-description-warning").show();
            $(this).addClass("input-error");
        } else {
            descValid = true;
            $(".add-collection-description-warning").hide();
            $(this).removeClass("input-error");
        }
    });

    $("#add-flow-title").trigger("keyup");
    $("#add-flow-desc").trigger("keyup");

    $('#add-flow-desc-preview').click(function(e) {
        var desc = $("#add-flow-desc").val();
        $("#add-flow-desc-md").html(marked(desc))
        $("#add-flow-desc").hide();
        $("#add-flow-desc-md").show();
        $('#add-flow-desc-preview').removeClass('inactive');
        $('#add-flow-desc-preview').addClass('active');
        $('#add-flow-desc-edit').removeClass('active');
        $('#add-flow-desc-edit').addClass('inactive');
        e.preventDefault();
    });
    $('#add-flow-desc-edit').click(function(e) {
        $("#add-flow-desc").show();
        $("#add-flow-desc-md").hide();
        $('#add-flow-desc-preview').removeClass('active');
        $('#add-flow-desc-preview').addClass('inactive');
        $('#add-flow-desc-edit').removeClass('inactive');
        $('#add-flow-desc-edit').addClass('active');
        $("#add-flow-desc").focus();
        e.preventDefault();
    });

    var createSubmitted = false;


    var addItem;
    var qsMatch = /addItem=(.+?)($|&)/.exec(location.search);
    if (qsMatch) {
        addItem = decodeURIComponent(qsMatch[1]);
    }
    $('#add-flow-create').click(function(e) {
        e.preventDefault();
        if (createSubmitted) {
            return;
        }
        if (!titleValid || !descValid) {
            window.scrollTo(0,0);
            return;
        }
        createSubmitted = true;
        $("#add-flow-label").hide();
        $("#add-flow-create").addClass("submitted");
        $("#add-flow-loader").show();
        var collection = {
            title: $("#add-flow-title").val().trim(),
            description: $("#add-flow-desc").val()
            // tags: tags.get()
        };

        {{#csrfToken}}
        collection._csrf = '{{csrfToken}}';
        {{/csrfToken}}

        if (addItem) {
            collection.items = [addItem];
        }
        $.ajax({
            {{^collection}}
            url:"/collection",
            type: "POST",
            {{/collection}}
            {{#collection}}
            url: '/collection/{{collection._id}}',
            type: 'PUT',
            {{/collection}}
            data: collection,
            success: function(data) {
                window.location = data;
            }
        }).fail(function(err) {
            if (err.status == 403) {
                window.location.reload();
            }
            createSubmitted = false;
            console.log("ERROR",err);
            $("#add-flow-create").removeClass("submitted");
            $("#add-flow-loader").hide();
            $("#add-flow-label").show();
        });
    });
    // var tags = tagger();


});
</script>

{{>_footer}}
