{{>_header}}
<div class="grid" style="background: none;">
    <div class="col-1-12">&nbsp;</div>
    <div class="col-10-12 thing-list-section" style="background: white; padding: 10px 50px;">
        <h2 class="pagetitle">Adding a node</h2>
        <p>Node-RED nodes are packaged as modules and published to
            the <a href="https://www.npmjs.com">public npm repository</a>.</p>
        <p>Once published to npm, they can be added to the Flow Library using the form below.</p>
        <p>To add a node to the library, follow these steps:</p>
        <div class="step">
            <span class="step-count">1</span>
            <div>
                <span>Create your node and package it as an npm module.</span>
                <p>Your module must have</p>
                <ul>
                    <li>a name that follows the project's <a href="https://nodered.org/docs/creating-nodes/packaging#naming">naming guidelines</a>,</li>
                    <li>a <a href="https://nodered.org/docs/creating-nodes/packaging#readmemd"><code>README.md</code> file</a> that describes what your node does</a> and how to use it,</li>
                    <li>a <a href="https://nodered.org/docs/creating-nodes/packaging#packagejson"><code>package.json</code> file</a> with:
                        <ul>
                            <li>a <code>node-red</code> section listing the node files,</li>
                            <li>and <code>"node-red"</code> in its list of <code>keywords</code>.
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div class="step">
            <span class="step-count">2</span>
            <div>
                <span>Publish your module to the public npm repository.</span>
                <p>You can use the <a href="https://docs.npmjs.com/cli/publish"><code>npm publish</code></a> command to do this.
                </p>
            </div>
        </div>

        <div class="step">
            <span class="step-count">3</span>
            <div>
                <span>Add your node to the Flow Library</span>
                <p>Use this form to tell the Flow Library about your node.</p>
                    <form id="add-node" action="/add/node" method="POST">
                        <input id="add-node-csrf" name="_csrf" type="hidden" value="{{csrfToken}}">
                        <input id="add-node-module" type="text" name="module" placeholder="Enter your npm module name here">
                        <div style="position:relative"><div id="add-node-error" class="dialog-warning"></div>&nbsp;</div>
                        <button type="button" class="btn-create" id="add-node-create"><span id="add-node-label">add node</span><img id="add-node-loader" class="loader" src="/images/loader.gif" /></button>
                    </form>
                </p>
            </div>
        </div>
    </div>
</div>
<style>
    .step {
        margin-top:40px;
        margin-bottom: 30px;
    }
    .step-count {
        display: inline-block;
        width:50px;
        height: 50px;
        text-align:center;
        line-height: 50px;
        border-top-right-radius:15px;
        border-bottom-left-radius:8px;
        background: #aa4444;
        color: white;
        font-size: 40px;
        float: left;
        margin-right: 20px;
    }
    .step-count + div {
        display: inline-block;
        max-width: 500px;
    }
    .step-count + div > span:first-child {
        font-size: 1.2em;
    }
    </style>

    <script>

    $(function() {

        $(document).ready(function() {
            $(window).keydown(function(event){
                if(event.keyCode == 13) {
                    event.preventDefault();
                    $('#add-node-create').trigger("click");
                    return false;
                }
            });
        });


        var createSubmitted = false;

        $('#add-node-create').click(function(e) {
            e.preventDefault();
            if (createSubmitted) {
                return;
            }
            createSubmitted = true;
            $("#add-node-error").hide();
            $("#add-node-label").hide();
            $("#add-node-create").addClass("submitted");
            $("#add-node-loader").show();
            var module = {
                module: $("#add-node-module").val(),
                _csrf: $("#add-node-csrf").val()
            };
            $.post("/add/node",module,function(data) {
                window.location = data;
            }).fail(function(err) {
                if (err.status == 403) {
                    window.location.reload();
                }
                createSubmitted = false;
                console.log("ERROR",err);
                $("#add-node-create").removeClass("submitted");
                $("#add-node-loader").hide();
                $("#add-node-label").show();
                $("#add-node-error").text(err.responseText).show();
            });
        });

    });
    </script>

{{>_footer}}
