{{>_header}}

<div class="grid thing-list-section main-content">
    <div class="col-9-12 docs-content">
        <h1 class="flow-title">{{ description }}</h1>
        {{{ readme }}}
        {{>_flowViewer}}
        <h2><code>flow.json</code></h2>
        <pre id="flow" class="highlight language-javascript"><button class="copy-button" type="button">Copy</button><span>{{ flow }}</span></pre>
        <h2>Embed Flow Viewer</h2>
        <p>If you would like to share this flow inside an article, or on your own website, you can include the following code in your site. This will render the above Flow Viewer.</p>
        <pre id="flow" class="highlight language-html"><button class="copy-button" type="button">Copy</button><span id="flowviewer-embedcode"></span>
        </pre>
    </div>
    <div class="col-3-12">
        {{>_collectionNavBox}}
          <div class="flowmeta">
            <h4>Flow Info</h4>
            <div class="flowinfo">  Created {{ created_at_since }}</div>
            {{#updated_at_since}}<div class="flowinfo">  Updated {{ updated_at_since }}</div>{{/updated_at_since}}
            <div class="flowinfo">Rating: {{#rating}} {{score}}<i class="icon-star"></i> {{count}}<i class="icon-user"></i>{{/rating}}{{^rating}}<i>not yet rated</i>{{/rating}}</div>
            <div class="flowinfo"><a href="{{ html_url }}">view on github</a></div>
          </div>
          <div class="flowmeta">
              <h4>Owner</h4>
              <div class="flowinfo"><a href="/user/{{ owner.login }}">{{ owner.login }}</a></div>
          </div>
         
          <div class="flowmeta">
            <h4>Actions</h4>
            <form id="form-rate" action="/flow/{{_id}}/rate" method="POST">
                <input name="_csrf" type="hidden" value="{{csrfToken}}">
                <input name="rating" type="hidden">
                <div class="flowinfo">Rate: <span id="set-stars"></span></div>
            </form>
            {{#sessionuser}}
            <div class="flowinfo" style="text-align: right;"><a class="user-profile-action" href="#" onclick="javascript:addToCollection('{{_id}}');">add to collection</a></div>
            {{#owned}}
                <div class="flowinfo" style="text-align: right;"><img id="refresh-flow-loader" class="loader" src="/images/loader.gif" />&nbsp;&nbsp;<a class="user-profile-action" id="refresh-flow" href="#">refresh from github</a></div>
                <div class="flowinfo" style="text-align: right;"><a class="user-profile-action" id="remove-flow" href="#">remove flow</a></div>
            {{/owned}}
          {{/sessionuser}}
        </div>


          <div class="flowmeta">
            <h4>Node Types</h4>
           {{#nodeTypes}}
            {{#core.length}}
             <h5>Core</h5>
            <ul class="nodeTypeList">
              {{#core}}
              <li>{{type}} <span class="small">(x{{count}})</span></li>
              {{/core}}
            </ul>
            {{/core.length}}
            {{#other.length}}
             <h5>Other</h5>
            <ul class="nodeTypeList">
              {{#other}}
              <li>{{#module}}<a href="/node/{{module}}">{{/module}}{{type}}{{#module}}</a>{{/module}} <span class="small">(x{{count}})</span></li>
              {{/other}}
            </ul>
            {{/other.length}}
           {{/nodeTypes}}

          </div>
          <div class="flowmeta">
            <h4>Tags</h4>
            <ul class="flow-tags">
            {{#tags}}
            <li tag="{{.}}">{{.}}</li>
            {{/tags}}
            </ul>
            {{#owned}}
                <div class="flowinfo" style="text-align: right;"><a id="edit-tags" href="#">edit</a> <a style="margin-right: 10px; display:none;" id="edit-tags-cancel" href="#">cancel</a>  <img id="edit-tags-done-loader" class="loader" src="/images/loader.gif" /> <a style="display:none;" id="edit-tags-done" href="#">done</a></div>
            {{/owned}}

          </div>
          <div class="flowmeta">
            Copy this flow JSON to your clipboard and then import into Node-RED using the <i>Import From &gt; Clipboard</i> (Ctrl-I) menu option
          </div>
    </div>
</div>
{{>_rateTools}}
<script src="/js/tags.js"></script>
<script>
$(function() {
    $(".copy-button").on("click", function(evt) {
        evt.preventDefault();
        var ta = document.createElement('textarea');
        ta.value = $(this).next()[0].innerText;
        ta.style.position = 'absolute';
        ta.style.left = '-3000px';
        document.body.appendChild(ta);
        ta.select();
        document.execCommand('copy');
        document.body.removeChild(ta);
        $(this).text("Copied!");
        var self = $(this);
        setTimeout(function() {
            self.text("Copy");
        },3000)
    });
    $('#flowviewer-embedcode').html('&lt;iframe width="100%" height="100%" src="' + window.location + '/share" allow="clipboard-read; clipboard-write" style="border: none;"&gt&lt;/iframe&gt;');

{{#owned}}
    $('#refresh-flow').click(function(event) {
        $("#refresh-flow-loader").show();
        $.post("/flow/{{ id }}/refresh",function(data,textStatus,jqXHR) {
            if (jqXHR.status != 304) {
                window.location.reload();
            }
            $("#refresh-flow-loader").hide();
        }).fail(function(err) {
            window.location.reload();
        });
        event.preventDefault();
    });

    $('#remove-flow').click(function(evt) {
        evt.preventDefault();
        var dialog = $('<div class="dialog-shade"><div class="dialog">'+
                '<form action="/flow/{{id}}/delete" method="POST">'+
                '<input name="_csrf" type="hidden" value="{{csrfToken}}">'+
            '<h4>Are you sure you want to remove this flow?</h4>'+
            '<p>It will be removed from the library, but your GitHub Gist will not be affected.'+
            '<div class="dialog-buttons"><button type="button" onclick="return closeDialog();">Cancel</button><button type="submit">Delete</button></div>'+
            '</form></div></div>').appendTo('body').show();
    });


    var tagEditor = null;
    $('#edit-tags').click(function(event) {
        event.preventDefault();
        $('ul.flow-tags').attr('id',"add-flow-tags");
        tagEditor = tagger({lipre:'',lipost:''});
        $('#edit-tags').hide();
        $('#edit-tags-cancel').show();
        $('#edit-tags-done').show();
        $('ul.flow-tags').click();
    });

    $('#edit-tags-cancel').click(function(event) {
        if (tagEditor) {
            $('#edit-tags-cancel').hide();
            $('#edit-tags-done').hide();
            tagEditor.cancel();
            $('ul.flow-tags').attr('id',"");
            $('#edit-tags').show();
        }
        event.preventDefault();
    });


    $('#edit-tags-done').click(function(event) {
        $("#edit-tags-done-loader").show();
        if (tagEditor) {
            $('#edit-tags-cancel').hide();
            $('#edit-tags-done').hide();
            var tags = tagEditor.get();
            $.post("/flow/{{ id }}/tags",{tags:tags},function(data) {
                tagEditor.strip();
                $('ul.flow-tags').attr('id',"");
                tagEditor = null;
                $('#edit-tags').show();
                $("#edit-tags-done-loader").hide();
            }).fail(function(err) {
                console.log(err);
                $("#edit-tags-done-loader").hide();
            });
        }
        event.preventDefault();
    });
{{/owned}}


});

</script>
{{>_footer}}
