{{>_header}}
  <div class="container main-content">
    <div class="row-fluid">
      <div class="offset1 span10">
        <h3 class="pagetitle"><img src="{{ user.avatar_url }}"/><div class="userinfo">{{ user.name }} <div class="flowuser">{{ user.login }}</div></div></h3>
      </div>
    </div>
    <div class="row-fluid">
      <div id="readme" class="offset1 span10">
      <ul>{{#gists}}
        <li><a href="/flow/{{id}}">{{description}}</a></li>
      {{/gists}}</ul>
      
      </div>
    </div>
  </div>
{{>_footer}}
