{{>_header}}
<div class="grid thing-list-section" style="padding-top: 30px;">
    <div class="user-hero">
        {{#user.avatar_url}}<img class="avatar" src="{{user.avatar_url}}" />{{/user.avatar_url}}
        {{^user.avatar_url}}<div class="avatar avatar-placeholder"></div>{{/user.avatar_url}}
        <div class="user-meta">
            <span class="username"><a data-type="flow" href="/user/{{username}}">{{username}}</a></span>
        </div>
    </div>
</div>
<div class="grid thing-list-section">
{{#query}}{{>_gistlist}}{{/query}}
</div>
{{>_footer}}
