// Obviously, replace all the 'xxx' with proper values...
var settings = {
    github: {
        clientId: "xxx"
        secret: "xxx",
        authCallback: "http://flows.nodered.org/login/callback",
        accessToken: "xxx"
    },
    mongo: {
        url: 'xxx',
        host: 'xxx',
        port: 123,
        db: 'flows',
        user: 'xxx',
        password: 'xxx',
    },
    session: {
        key: 'xxx',
        secret: 'xxx'
    },
    twitter: {
        consumer_key: '',
        consumer_secret: '',
        access_token_key: '',
        access_token_secret: ''
    }
}
process.env.ENV = "PRODUCTION";

if (process.env.HOME == "/home/nol" ) {
    process.env.ENV = "DEV";
    console.log(" *** DEV ENVIRONMENT *** ");
    settings.mongo = {
        url: 'xxx',
        host: 'xxx',
        port: 123,
        db: 'flow_dev',
        user: 'xxx'
        password: 'xxx'
    };
    settings.github = {
        clientId: "xxx",
        secret: "xxx",
        authCallback: "http://localhost:20982/login/callback",
        accessToken: "xxx"
    };
    settings.twitter = {
        consumer_key: '',
        consumer_secret: '',
        access_token_key: '',
        access_token_secret: ''
    };
}

module.exports = settings;
