h1 {
    font-weight: normal;
    line-height: 1.1em;
}
[class*='col-'] {
    aborder: 1px solid red;
}
.library {
    background: #eee;
    font-size: 16px;
}
.library .grid {
    background: #fff;
    padding: 0 100px;
}

.library .grid.toolbar {
    padding: 0 20px;
}
.library .grid.main-content {
    min-height: 600px;
    background: #fff;
    padding-top: 25px;
    padding-bottom: 25px;
    color: #676767;
}

.main-content a {
    color: #aa6767;
}
.toolbar {
    padding-top: 0 5px;
    background: #fff;
    color: #676767;
    min-height: 42px;
}

.searchbox {
    max-width: 350px;
}
.search a {
    color: #999;
    line-height: 36px;
    padding: 2px;
    position: relative;
    left: -20px;
    top:1px;
    background: #fff;
}
.search input {
    padding: 3px 6px;
    height: 24px;
    margin: 0;
    width: 80%;
}

.search a:hover {
    color: #676767;
}

.login a {
    color: #676767;
    line-height: 36px;
    padding: 3px 6px;
}
.login a:hover,.search a:hover {
    text-decoration: none;
}
.login a.signin {
    border: 1px solid #ccc;
    border-radius: 3px;
}
.login a.signin:hover {
    background: #f0f0f0;
    text-decoration: none;
}
.login {
    padding-top: 3px;
    font-size: 13px;
    text-align: right;
}

.login img {
    width: 32px;
    height: 32px;
    margin: 3px;
    border-radius: 5px;
    vertical-align: middle;
}

#flow {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px;
    font-size: 12px;
    line-height: 22px;
    font-family: monospace;
    cursor: pointer;
}

#dreadme {
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 30px;
}

.flowuser img {
    width:32px;
    border-radius: 5px;
    vertical-align:middle;
}
.pagetitle {
    vertical-align:middle;
}

.pagetitle img {
    width:64px;
    border-radius: 5px;
}

.flowmeta {
    font-size: 0.9em;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}
.flowmeta  h4 {
    margin: auto;
}
.flowmeta  h5 {
    margin: 5px 10px 0 10px;
}

.flowmeta img {
    dborder: 1px solid #ccc;
}
.flowinfo {
    margin-left: 10px;
    font-size: 14px;
}
.flowuser {
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
}
.flow-stat {
    display: inline-block;
    min-width: 30px;
    text-align: right;
    font-weight: bold;
}
.nodeTypeList {
    margin: 0;
}
.pagetitle .flowuser {
    color: #aaa;
    vertical-align:bottom;
    font-weight: normal;
}
.userinfo {
    margin-left: 10px;
    display:inline-block;
}


.small {
    font-size: 11px;
}

.popover {
    background-color: #FDFFC2;
}
.popover.bottom .arrow:after {
    border-bottom-color:#FDFFC2;
}
.popover.top .arrow:after {
    border-top-color:#FDFFC2;
}
.popover.right .arrow:after {
    border-right-color:#FDFFC2;
}

.grid.add-form {
    padding-left: 50px;
    padding-right: 50px;
}
.add-help {
    -border: 1px solid #ccc;
    -border-radius: 3px;
    -display: none !important;
}
.add-help p {
    margin-bottom: 10px;
    font-size: 14px;
}
.add-form input[type=text] {
    margin-bottom: 0;
    height: 40px;
    font-size: 20px;
    width: 100%;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #999;
}
.add-form textarea {
    border: 1px solid #999;
    font-size: 14px;
    width: 100%;
    resize: none;
    padding: 10px;
    border-radius: 3px
}
.add-form textarea,
.add-form input {
    outline: none;
}
.add-form textarea:focus,
.add-form input:focus {
    outline: none;
    box-shadow: 0 0 8px #fbb;
}

.add-form-row {
    clear: both;
}
.add-form-row [class*='col-'] {
    margin-top: 20px;
}
.add-form-row:first-child [class*='col-'] {
    margin-top: 0;
}
#add-flow-title {
    font-family: 'Roboto Slab', serif;
}
#add-flow-flow {
    height: 125px;
    padding: 10px;
    font-size: 12px;
    line-height: 22px;
    font-family: monospace;

}
#add-flow-desc {
    height: 350px;
    margin-top: 19px;
}
#add-flow-desc-md {
    min-height: 350px;
    margin-top: 19px;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: none;
    padding: 10px;
    background: #fff;
}


.add-flow-label {
    margin-top: 5px;

}
.add-flow-desc-buttons {
    position: absolute;
    top: 0;
    right:0;
    text-align: right;
    margin-bottom: -2px;
}
.add-flow-desc-buttons a {
    background: #fff;
    border: 1px solid #ccc;
    margin-right: 10px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 4px;
    width: 90px;
    display: inline-block;
    height: 30px;
    text-align: center;

}
.add-flow-desc-buttons a.active {
    border-bottom: #fff;
}
.add-flow-desc-buttons a.active:hover {
    border-bottom: #fff;
    cursor: default;
}

.add-flow-desc-buttons a:hover {
    text-decoration: none;
}
.add-flow-desc-buttons a.inactive {
    background: #f0f0f0;
}
.add-flow-desc-buttons a.inactive:hover {
    background:#f6f6f6;
}

ul.flow-tags {
    list-style-type: none;
    margin: 0px;
    padding: 2px 4px;
}
ul#add-flow-tags {
    border: 1px solid #999;
    border-radius: 3px;
    min-height: 45px;
}

ul#add-flow-tags.active {
    box-shadow: 0 0 8px #fbb;
}

ul.flow-tags li {
    transition-property: background;
    transition-duration: 500ms;
    transition-timing-function: ease;
    display: inline-block;
    padding: 3px 5px 3px 5px ;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #f5f5f5;
    margin: 3px 3px 3px 1px;
    cursor: default;
    font-size: 14px;
}

ul.flow-tags li:hover {
    background: #f0f0f0;

}
ul#add-flow-tags li.tag-input:not(:first-child) {
    padding: 0;
}

ul#add-flow-tags li.tag-input {
    border: none;
    background: none;
    height: 28px;
    vertical-align: middle;

}
li.tag-input input[type=text] {
    border: none !important;
    box-shadow: none !important;
    font-size: 14px;
    color: #666;
    vertical-align: middle;
    height: auto;
    padding: 0;
}
li.tag-input input:focus {
    outline: none;
}

ul#add-flow-tags li i.icon {
    color: #aaa;
}

.addButton {
    border: 2px solid #ddd;
    padding: 7px 9px;
    border-radius: 6px;
    margin: 0px 5px;
}
.addButton:hover {
    background: #f3f3f3;
}

.add-step {
    margin-bottom: 20px;
}
.add-index {
    text-align: center;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
}
.add-step h3 {
    margin-top:10px;
}
.add-step ul {
    font-size: 20px;
}
.add-step ul li {
    line-height: 30px;
}

#flowerror {
    width: 600px;
    text-align: right;
    font-size: 18px;
}

.input-error {
    border-color: rgb(214, 97, 95) !important;
}
.input-error:focus {
    box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset,
                rgba(236, 168, 82, 0.6) 0px 0px 12px 0px !important
}

.header-image {
}

.btn-create.submitted {
    background: #fff;
}
.btn-create.submitted:hover {
    background: #fff;
}

.btn-create {
    border: 2px solid #aa6767;
    text-align: center;
    display: inline-block;
    border-radius: 4px;
    background: #aa6767;
    text-shadow: none;
    font-size: 16px;
    padding: 15px;
    width: 110px;
}
.btn-create {
    font-size: 14px;
    color:  #eee !important;
    margin-top: 5px;
}
.btn-create:hover {
    text-decoration: none;
    background: #7F4545;
    border-color: #7F4545;
    text-shadow: none;
}
.btn-load-more {
    border: 2px solid #aa6767;
    display: inline-block;
    text-align: center;
    border-radius: 4px;
    background: #aa6767;
    text-shadow: none;
    font-size: 16px;
    padding: 5px;
    width: 250px;
    color:  #eee !important;
    margin: 5px;
}
.btn-load-more:hover {
    background: #7F4545;
    text-decoration: none;
    text-shadow: none;
}
.btn-load-more.hide {
    display: none;
}
.create-toc {
    display: inline-block;
    max-width: 350px;
    margin-left: 10px;
    vertical-align: middle;
    margin-bottom: 0;
}

.loader {
    display: none;
}

.btn-download {
    background: #aa6767;
    border:none;
    text-shadow: none;
    font-size: 16px;
    color: #fff !important;
    padding: 12px;
    border-radius: 3px;
    vertical-align: middle;
}
.btn-download .download-link {
    letter-spacing: 1px;
    font-family: 'Roboto Slab', serif;
}
.btn-download .download-version {
    font-size: 14px;
    color:  #eee;
    margin-top: 5px;
}
.btn-download:hover {
    background: #7F4545;
    border:none;
    text-decoration: none;
    text-shadow: none;
}

h1.flow-title {
    border-bottom: 2px solid #B68181;
    padding-bottom: 10px;
    margin-bottom: 40px;
    margin-top: 10px;
    font-weight: normal;
}
.flow-version {
    padding-left: 5px;
    color: #aaa;
    font-size: 20px;
}
p.flow-description {
    color:#aaa;
    font-size: 20px;
    font-weight: normal;
}
p.flow-install {
    font-size: 16px;
    color: #aaa;
}
p.flow-install code {
    background: none;
    color: inherit;
}
.flow-install-help {
    float: right;
}
.flow-install-help a {
    color: inherit;
}
.flow-install-help a:hover{
    color: #aa6767;
    text-decoration: none;
}
.gist-filter-input {
    font-size: 16px;
    padding: 10px;
    color: #666;
    width: 100%;
    -webkit-appearance: none;
    vertical-align: middle;
    border: 2px solid #999;
    border-radius: 2px;
}
.gist-filter {
    max-width: 500px;
    display: inline-block;
    width: 100%;
}
.gist-sort {
    max-width: 500px;
    font-size: 14px;
    display:inline-block;
    vertical-align:top;
    margin-left: 30px;
    margin-top: -12px;
    line-height: 1.5;
}

.gistbox-sort-option {
    display: none;
}
.gistbox-sort-label {
    cursor: pointer;
}
.gistbox-sort-label:before {
    content:" ";
    font-weight: bold;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    border-width: 2px;
    border-style: solid;
    border-color: #666;
    margin-right: 4px;
    vertical-align: middle;
    margin-top: -2px;
    text-align: center;
    font-size: 12px;
    line-height: 12px;
}

.gistbox-sort-option:checked + label:before {
    background: #999;
}



.gist-count {
    display: inline-block;
    text-align: right;
    float: right;
    font-size: 14px;
}
.gistlist-empty {
    text-align: center;
    font-size: 24px;
    margin: 0;
    color: #777;
}
ul.gistlist {
    margin: 20px 0 0;
    padding: 0;
    list-style-type: none;
    min-height: 800px;
}

li.gistbox {
    display: inline-block;
    background: #fff;
    height: 0;
    float: left;
    margin-bottom: 15px;
    margin-right: 15px;
    width: 31%;
    min-width: 240px;
    overflow: hidden;

    transition-duration: 250ms;
    transition-timing-function: ease;
    transition-property: margin,width,padding,height,opacity;
}
li.gistbox.show {
    height: 125px;
}

.gistbox a {
    padding: 10px;
    border: 2px solid #CD9494;
    display: block;
    width: 100%;
    height: 100%;
    color: #666;
    overflow: hidden;
    position:relative;
}
.gistbox a:hover {
    text-decoration: none;
    border-color: #AD6868;
}
h1.gisttitle {
    font-size: 16px;
    margin: 0;
    font-weight: normal;
    color: #444;
}
p.gistdescription {
    font-size: 13px;
    line-height: 1.5em;
    color: #999;
    margin: 5px 0 0 0;
}
.gistbox-footer {
    position: absolute;
    left:0;
    bottom:0;
    width: 100%;
    padding: 0px;
    font-size: 0.8em;
    text-align: right;
    background: #CD9494;
    color: #fff;
}


.gistbox-tags {
    padding: 0 10px;
    font-size: 11px;
    line-height: 12px;
}
.gistbox-type {
    margin: 7px 0 3px 7px;
    padding: 2px;
    float: left;
    line-height: 1.1em;
}
.gistbox-owner {
    padding: 3px 10px;
}
a:hover .gistbox-footer {
    background:  #AD6868;
}

.gistbox-official {
    float: left;
}

.gistbox-flow a {
    border-color: #799191;
}
.gistbox-flow a:hover {
    border-color: #3E6868;
}
.gistbox-flow a .gistbox-footer {
    background: #799191;
}
.gistbox-flow a:hover .gistbox-footer {
    background: #3E6868;
}


.gistbox-filter-options {
    list-style-type: none;
    font-size: 14px;
    padding: 0;
    margin: 5px 0;
    display: inline-block;
    vertical-align: middle;
}


.gistbox-filter-options li {
    display: inline-block;
    margin-left: 5px;
    margin-right: 10px;
    height: 30px;
}
.gistbox-filter-label {
    cursor: pointer;
    color: #999;
}
.gistbox-filter-option {
    display: none;
}
.gistbox-filter-label:before {
    content:" ";
    font-weight: bold;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-width: 2px;
    border-style: solid;
    border-color: #aaa;
    margin-right: 4px;
    vertical-align: middle;
    margin-top: -2px;
    text-align: center;
    font-size: 12px;
    line-height: 12px;
}

.gistbox-filter-option:checked + label {
    color: #666;
}
.gistbox-filter-option:checked + label:before {
    content: '\2713'
}
#gistbox-filter-option-nodes:checked + label:before {
    border-color: #CD9494;
}
#gistbox-filter-option-flows:checked + label:before {
    border-color: #799191;
}




/* http://paletton.com/#uid=7000u0k8UpJ2nG55nurcJlGfPgZ */


.palette_label {
    margin: 4px 0;
    color: #333;
    line-height: 20px;
    text-align: center;
    overflow: hidden;
}
.palette_node {
   font-size:13px;
   background: #ddd;
   border-radius: 6px;
   border: 2px solid #999;
   min-width: 90px;
   display: inline-block;
   padding: 0;
   position: relative;
}
.palette_icon {
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    width: 30px;
    border-right: 2px solid rgba(0,0,0,0.1);
    background-color: rgba(0,0,0,0.05);
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}
.palette_label {
    padding: 0 10px;
    min-width: 90px;
}
.palette_node_config {
    border-color: #aaa;
    border-style: dashed;
    background: #eee;
}
.palette_port {
   position: absolute;
   top:33%;
   left: -6px;
   box-sizing: border-box;
    -moz-box-sizing: border-box;
   background:#d9d9d9;
   border-radius: 3px;
   width: 10px;
   height: 10px;
   border: 1px solid #999;
}
.palette_port_output {
    right:-6px;
    left: auto;
}

.gistbox.filtered {
    width: 0;
    height: 0;
    margin: 0;
}

.events {
    width: 100%;
    font-size: 11px;
    border-collapse: collapse;
}
.events td {
    border-width: 1px;
    border-color: #999;
    border-style: solid;
    padding: 3px 5px;
}
.events tr:nth-child(even) {
    background: #f3f3f3
}


#report-node-shade {
    display: none;
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: rgba(88,38,38,0.8);
    text-align: center;
}
#report-node-shade:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#report-node-dialog {
    position: relative;
    text-align: left;
    vertical-align: middle;
    display: inline-block;
    overflow: auto;
    width: 500px;
    margin: auto;
    background: white;
    padding: 0px 40px;
}
#report-node-dialog textarea {
    border: 1px solid #999;
    font-size: 14px;
    width: 100%;
    height: 150px;
    resize: none;
    padding: 10px;
    border-radius: 3px;
    color: #333;
}
#report-node-dialog button {
    border: 1px solid #aa6767;
    text-align: center;
    display: inline-block;
    border-radius: 3px;
    text-shadow: none;
    font-size: 14px;
    padding: 10px;
    width: 110px;
    cursor: pointer;
    margin: 0 10px;
}
#report-node-dialog button[type="submit"] {
    background: #aa6767;
    color: #eee;
}
#report-node-dialog-buttons {
    padding: 10px;
    text-align: right;
}
@media handheld, only screen and (max-width: 767px) {
    .library .grid {
        padding: 0;
    }
}
@media handheld, only screen and (max-width: 767px) {
    li.gistbox {
        display: block;
        width: 100%;
        float: none;
    }
}
@media handheld, only screen and (max-width: 900px) {
    .gist-sort {
        margin-left:0;
        margin-top:0;
        display: block;
    }
    .gist-sort div {
        display: inline-block;
    }
}
